* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.dark-theme {
  --text_color: #fff;
  --bg-main: #000;
  --border-black: #000;
  --border-light: #777;
  --bg-button: #000;
  --border-focus: #fff;
  --bg-button-hover: #fff;
  --button-hover-text: #000;
}
.light-theme {
  --text_color: #000;
  --bg-main: #fff;
  --border-black: #111;
  --border-light: #999;
  --bg-button: #e8e8e8;
  --border-focus: #41bbd9;
  --bg-button-hover: #c0c0c0;
  --button-hover-text: #000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text_color);
  background-color: var(--bg-main);
}
main {
  width: 100vw;
  height: 100vh;
}
button,
input {
  border: 2px solid var(--border-light);
  outline: none;
  border-radius: 5px;
  background: var(--bg-main);
  color: var(--text_color);
}
button:focus,
input:focus {
  border-color: var(--border-focus);
}
button {
  background-color: var(--bg-button);
}
button:hover {
  background-color: var(--bg-button-hover);
  color: var(--button-hover-text);
}
.todo-item {
  padding: 10px;
  border-bottom: 1px solid var(--border-light);
  max-width: 400px;
  display: grid;
  justify-content: space-between;
  gap: 10px;
  grid-template-columns: minmax(100px, max-content) min-content;
  align-items: center;
}
.todo-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
.todo-item button {
  height: min-content;
  cursor: pointer;
  padding: 2px;
  display: grid;
  place-items: center;
}
.line-through {
  text-decoration: line-through;
}
.todo-text {
  cursor: pointer;
  word-wrap: break-word;
}
.todo-text:hover {
  text-decoration: line-through;
}
.todos .add-todo {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  padding: 10px;
  gap: 10px;
  align-items: center;
  border-bottom: 3px solid var(--border-black);
  margin-bottom: 10px;
}
.todos .add-todo input {
  padding: 5px;
  font-size: 20px;
}
.todos .add-todo button {
  padding: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.edit-todo {
  display: grid;
  grid-template-columns: 100% min-content;
  gap: 10px;
  align-items: center;
  width: max-content;
}
.edit-todo input {
  padding: 5px;
  font-size: 16px;
}
.display-none {
  display: none;
}
