* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.dark-theme {
  --text_color: #fff;
  --bg-main: #000;
  --border-light: #777;
}
.light-theme {
  --text_color: #000;
  --bg-main: #fff;
  --border-light: #e8e8e8;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text_color);
  background-color: var(--bg-main);
}
main {
  width: 100vw;
  height: 100vh;
}
button {
  border: none;
  outline: none;
  background-color: var(--bg-main);
  border-radius: 5px;
  color: var(--text_color);
}
button:hover,
button:focus {
  background-color: var(--text_color);
  color: var(--bg-main);
}
input {
  background-color: transparent;
  color: var(--text_color);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--border-light);
}
input:focus {
  border-bottom: 2px solid var(--text_color);
}
.todo-item {
  padding: 10px;
  max-width: 400px;
  display: grid;
  justify-content: space-between;
  gap: 10px;
  grid-template-columns: minmax(100px, max-content) min-content;
  align-items: center;
}
.todo-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
.todo-item button {
  height: min-content;
  cursor: pointer;
  padding: 3px;
  display: grid;
  place-items: center;
}
.line-through {
  text-decoration: line-through;
}
.todo-text {
  cursor: pointer;
  word-wrap: break-word;
}
.todo-text:hover {
  text-decoration: line-through;
}
.todos .add-todo {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  padding: 10px;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.todos .add-todo input {
  padding: 5px;
  font-size: 20px;
}
.todos .add-todo button {
  padding: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.edit-todo {
  display: grid;
  grid-template-columns: 100% min-content;
  gap: 10px;
  align-items: center;
  width: max-content;
}
.edit-todo input {
  padding: 5px;
  font-size: 16px;
}
.display-none {
  display: none;
}
